/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #7289da;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
.el-dialog {
    background:rgb(50,53,59) !important;
    
}
.el-dialog__title {
    color: white !important;
}

@import "~element-ui/packages/theme-chalk/src/index";
